
header{
    display: flex;
    justify-content: space-between;
    background-color: #56a292;
    border-bottom:10px solid black;
    padding: 10px 20px;
    
}

h1{
display: inline-flex;
font-family: 'Press Start 2P', sans-serif;
color: #fff;
text-shadow: 5px 5px 0px #000;
align-items: center;

}

nav{
    text-align:right;

}

a {
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    font-family:'Fira Code', monospace, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
   
}

a:before{
    content: "";
    display: inline-block;
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

#button {
    display: inline-block;
    background-color: #F25A70;
    box-shadow: 5px 5px 0 black;
    padding: 18px 20px;
    margin-right: 0;
    cursor: pointer;
    transition: transform 100ms linear;
}

#button:hover{
    transform: scale(1.1);
    opacity: 0.5;
}
#button::before{
    content: none;
}






.buttonBanner {
    display: inline-flex;
    background-color: #F25A70;
    height: 30px;
    box-shadow: 5px 5px 0 black;
    justify-content: space-between;
    padding: 18px 20px;
    margin-right: 300px;
    margin-top: 340px;
    
    
    
}

